<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_header.ejs') %>
    <title>Terms & Conditions | Eagles Views Kungwini</title>
    <meta
      name="description"
      content="Read our terms and conditions to understand the rules and guidelines for booking and staying at Eagles Views Kungwini."
    />
    <meta
      name="keywords"
      content="Terms and Conditions, Eagles Views Kungwini, Booking Rules, Stay Guidelines"
    />
    <meta name="robots" content="index, follow" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="js/jquery.3.7.1.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/index.js" defer></script>
  </head>
  <body>
    <header class="header_area">
      <div class="main-menu">
        <%- include('../partials/_navbar.ejs') %>
        <div class="hero-section">
          <div class="hero-bg-color"></div>
          <div class="container text-center py-5 hero-content">
            <h1 class="hero-title">Terms & Conditions</h1>
            <p class="hero-description">
              Please review our terms and conditions before booking your stay
              with us.
            </p>
            <a href="/bookings" class="btn btn-primary btn-lg">Book Now</a>
          </div>
        </div>
      </div>
    </header>

    <section class="section privacy-section">
      <div class="container px-4 py-5">
        <h2 class="pb-2 section-title text-primary">
          Terms & Conditions Overview
        </h2>
        <p>
          By booking a reservation with Eagles Views Kungwini, you agree to our
          terms and conditions as outlined below. Please read them carefully
          before completing your booking.
        </p>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <!-- Booking Requirements -->
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-bookmark"></i> Booking Requirements
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Guests are required to provide valid identification and a valid
                credit card to complete the booking process. Reservations are
                confirmed only after a deposit is paid.
              </div>
            </div>
          </div>

          <!-- Cancellation Policy -->
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-calendar-times"></i> Cancellation Policy
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Reservations may be cancelled up to 48 hours before the check-in
                date for a full refund. Any cancellations made after this period
                may be subject to a cancellation fee.
              </div>
            </div>
          </div>

          <!-- Liability -->
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-exclamation-triangle"></i> Liability
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                We are not responsible for any accidents, injuries, or losses
                that occur during your stay. Guests are expected to follow
                safety guidelines and respect the property.
              </div>
            </div>
          </div>

          <!-- Changes to Terms -->
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-refresh"></i> Changes to Terms
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Eagles Views Kungwini reserves the right to modify these terms
                at any time. Any changes will be communicated to guests before
                their stay.
              </div>
            </div>
          </div>

          <!-- Contact Us -->
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-phone"></i> Contact Us
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                If you have any questions or need further clarification
                regarding our terms and conditions, please contact us at
                <strong>info@eaglesviewkungwini.com</strong>.
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg
        preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2000 52"
      >
        <g fill="%23000000">
          <path
            d="M2000 32V0H0v32l68-16 103 25 83-20 84 20 103-25 103 25 83-20 84 20 103-25 22 5 81 20 83-20 84 20 80-20 23-5 103 25 83-20 83 20 104-25 103 25 83-20 83 20 104-25 67 16z"
          ></path>
          <path opacity=".75" d="M18 51H7l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M35 33H24l-5-9 5-9h11l6 9-6 9z"></path>
          <path opacity=".75" d="M57 41h-9l-4-8 4-7h9l4 7-4 8z"></path>
          <path
            d="M68 16l21 5-21 22-22-22 22-5zM145 17l22 5-22 22-22-22 22-5z"
            opacity=".5"
          ></path>
          <path d="M170 25l22 5-22 22-22-22 22-5z" opacity=".75"></path>
          <path d="M518 17l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M543 25l22 5-22 22-22-22 22-5z" opacity=".75"></path>
          <path d="M891 17l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M916 25l22 5-22 22-22-22 22-5z" opacity=".75"></path>
          <path d="M1264 17l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1289 25l22 5-22 22-21-22 21-5z" opacity=".75"></path>
          <path d="M1637 17l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1662 25l22 5-22 22-21-22 21-5z" opacity=".75"></path>
          <path d="M364 17l-22 5 22 22 21-22-21-5z" opacity=".5"></path>
          <path d="M338 25l-21 5 21 22 22-22-22-5z" opacity=".75"></path>
          <path d="M737 17l-22 5 22 22 21-22-21-5z" opacity=".5"></path>
          <path d="M711 25l-21 5 21 22 22-22-22-5z" opacity=".75"></path>
          <path d="M1110 17l-22 5 22 22 22-22-22-5z" opacity=".5"></path>
          <path d="M1085 25l-22 5 22 22 21-22-21-5z" opacity=".75"></path>
          <path d="M1483 17l-22 5 22 22 22-22-22-5z" opacity=".5"></path>
          <path d="M1458 25l-22 5 22 22 21-22-21-5z" opacity=".75"></path>
          <path d="M1856 17l-22 5 22 22 22-22-22-5z" opacity=".5"></path>
          <path d="M1831 25l-22 5 22 22 21-22-21-5z" opacity=".75"></path>
          <path d="M38 50h-7l-3-6 3-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M57 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M118 51h11l5-9-5-10h-11l-6 10 6 9z"></path>
          <path d="M100 33h11l5-9-5-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M79 38h8l5-7-5-8h-8l-5 8 5 7z"></path>
          <path d="M97 50h7l4-6-4-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M79 51h4l2-4-2-4h-4l-3 4 3 4z"></path>
          <path opacity=".75" d="M204 51h-11l-5-9 5-10h11l6 10-6 9z"></path>
          <path d="M222 33h-11l-5-9 5-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M243 38h-8l-5-7 5-8h8l4 8-4 7z"></path>
          <path d="M254 16l22 5-22 22-21-22 21-5z" opacity=".5"></path>
          <path d="M225 50h-7l-4-6 4-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M243 51h-4l-3-4 3-4h4l3 4-3 4z"></path>
          <path opacity=".75" d="M304 51h11l5-9-5-10h-11l-5 10 5 9z"></path>
          <path d="M287 33h10l6-9-6-9h-10l-6 9 6 9z"></path>
          <path opacity=".75" d="M265 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M284 50h7l3-6-3-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M265 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
          <path opacity=".75" d="M391 51h-11l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M408 33h-10l-6-9 6-9h10l6 9-6 9z"></path>
          <path opacity=".75" d="M430 38h-9l-4-7 4-8h9l4 8-4 7z"></path>
          <path d="M441 16l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M411 50h-7l-3-6 3-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M430 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M491 51h11l5-9-5-10h-11l-6 10 6 9z"></path>
          <path d="M473 33h11l5-9-5-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M452 38h8l5-7-5-8h-8l-4 8 4 7z"></path>
          <path d="M471 50h6l4-6-4-5h-6l-4 5 4 6z"></path>
          <path opacity=".5" d="M452 51h4l3-4-3-4h-4l-3 4 3 4z"></path>
          <path opacity=".75" d="M577 51h-10l-6-9 6-10h10l6 10-6 9z"></path>
          <path d="M595 33h-11l-5-9 5-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M616 38h-8l-5-7 5-8h8l5 8-5 7z"></path>
          <path d="M627 16l22 5-22 22-21-22 21-5z" opacity=".5"></path>
          <path d="M598 50h-7l-4-6 4-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M616 51h-4l-2-4 2-4h4l3 4-3 4z"></path>
          <path opacity=".75" d="M677 51h11l6-9-6-10h-11l-5 10 5 9z"></path>
          <path d="M660 33h11l5-9-5-9h-11l-6 9 6 9z"></path>
          <path opacity=".75" d="M638 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M657 50h7l3-6-3-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M638 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
          <path opacity=".75" d="M764 51h-11l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M781 33h-10l-6-9 6-9h10l6 9-6 9z"></path>
          <path opacity=".75" d="M803 38h-9l-4-7 4-8h9l4 8-4 7z"></path>
          <path d="M814 16l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M784 50h-7l-3-6 3-5h7l4 5-4 6z"></path>
          <path opacity=".5" d="M803 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M864 51h11l5-9-5-10h-11l-6 10 6 9z"></path>
          <path d="M846 33h11l6-9-6-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M825 38h8l5-7-5-8h-8l-4 8 4 7z"></path>
          <path d="M844 50h6l4-6-4-5h-6l-4 5 4 6z"></path>
          <path opacity=".5" d="M825 51h4l3-4-3-4h-4l-3 4 3 4z"></path>
          <path opacity=".75" d="M950 51h-10l-6-9 6-10h10l6 10-6 9z"></path>
          <path d="M968 33h-11l-5-9 5-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M989 38h-8l-4-7 4-8h8l5 8-5 7z"></path>
          <path d="M1000 16l22 5-22 22-21-22 21-5z" opacity=".5"></path>
          <path d="M971 50h-7l-3-6 3-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M990 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M1050 51h11l6-9-6-10h-11l-5 10 5 9z"></path>
          <path d="M1033 33h11l5-9-5-9h-11l-6 9 6 9z"></path>
          <path opacity=".75" d="M1011 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M1030 50h7l3-6-3-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M1011 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
          <path opacity=".75" d="M1137 51h-11l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M1155 33h-11l-6-9 6-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M1176 38h-9l-4-7 4-8h9l4 8-4 7z"></path>
          <path d="M1187 16l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1157 50h-7l-3-6 3-5h7l4 5-4 6z"></path>
          <path opacity=".5" d="M1176 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M1237 51h11l5-9-5-10h-11l-6 10 6 9z"></path>
          <path d="M1219 33h11l6-9-6-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M1198 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M1217 50h6l4-6-4-5h-6l-4 5 4 6z"></path>
          <path opacity=".5" d="M1198 51h4l3-4-3-4h-4l-2 4 2 4z"></path>
          <path opacity=".75" d="M1323 51h-10l-6-9 6-10h10l6 10-6 9z"></path>
          <path d="M1341 33h-11l-5-9 5-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M1362 38h-8l-4-7 4-8h8l5 8-5 7z"></path>
          <path d="M1373 16l22 5-22 22-21-22 21-5z" opacity=".5"></path>
          <path d="M1344 50h-7l-3-6 3-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M1363 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M1423 51h11l6-9-6-10h-11l-5 10 5 9z"></path>
          <path d="M1406 33h11l5-9-5-9h-11l-6 9 6 9z"></path>
          <path opacity=".75" d="M1385 38h8l4-7-4-8h-8l-5 8 5 7z"></path>
          <path d="M1403 50h7l3-6-3-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M1384 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
          <path opacity=".75" d="M1510 51h-11l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M1528 33h-11l-6-9 6-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M1549 38h-9l-4-7 4-8h9l4 8-4 7z"></path>
          <path d="M1560 16l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1530 50h-6l-4-6 4-5h6l4 5-4 6z"></path>
          <path opacity=".5" d="M1549 51h-4l-3-4 3-4h4l2 4-2 4z"></path>
          <path opacity=".75" d="M1610 51h11l5-9-5-10h-11l-5 10 5 9z"></path>
          <path d="M1592 33h11l6-9-6-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M1571 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M1590 50h6l4-6-4-5h-6l-4 5 4 6z"></path>
          <path opacity=".5" d="M1571 51h4l3-4-3-4h-4l-2 4 2 4z"></path>
          <path opacity=".75" d="M1697 51h-11l-6-9 6-10h11l5 10-5 9z"></path>
          <path d="M1714 33h-11l-5-9 5-9h11l6 9-6 9z"></path>
          <path opacity=".75" d="M1735 38h-8l-4-7 4-8h8l5 8-5 7z"></path>
          <path d="M1747 16l21 5-21 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1717 50h-7l-3-6 3-5h7l3 5-3 6z"></path>
          <path opacity=".5" d="M1736 51h-5l-2-4 2-4h5l2 4-2 4z"></path>
          <path opacity=".75" d="M1797 51h10l6-9-6-10h-10l-6 10 6 9z"></path>
          <path d="M1779 33h11l5-9-5-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M1758 38h8l4-7-4-8h-8l-5 8 5 7z"></path>
          <path d="M1776 50h7l3-6-3-5h-7l-3 5 3 6z"></path>
          <path opacity=".5" d="M1757 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
          <path opacity=".75" d="M1883 51h-11l-5-9 5-10h11l5 10-5 9z"></path>
          <path d="M1901 33h-11l-6-9 6-9h11l5 9-5 9z"></path>
          <path opacity=".75" d="M1922 38h-9l-4-7 4-8h9l4 8-4 7z"></path>
          <path d="M1933 16l22 5-22 22-22-22 22-5z" opacity=".5"></path>
          <path d="M1903 50h-6l-4-6 4-5h6l4 5-4 6z"></path>
          <path opacity=".5" d="M1922 51h-4l-3-4 3-4h4l2 4-2 4z"></path>
          <path opacity=".75" d="M1983 51h11l5-9-5-10h-11l-5 10 5 9z"></path>
          <path d="M1965 33h11l6-9-6-9h-11l-5 9 5 9z"></path>
          <path opacity=".75" d="M1944 38h9l4-7-4-8h-9l-4 8 4 7z"></path>
          <path d="M1963 50h7l3-6-3-5h-7l-4 5 4 6z"></path>
          <path opacity=".5" d="M1944 51h5l2-4-2-4h-5l-2 4 2 4z"></path>
        </g>
      </svg>
    </section>

    <%- include('../partials/_footer.ejs') %>
  </body>
</html>
